#diaspora-button-box {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: left;
    margin-right: 10px;
    height: 23px;
    background-color: #ecf2f6;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #3c72c2;
    border-width: 1px;
    color: #3c72c2;
    border-style: solid;
    padding: 0 0 0 5px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    overflow: auto}

#diaspora-button-box:hover {
    background-color: #B8CCD9;
    border-color: #3c72c2;
    color: #3c72c2}  

#diaspora-button-box font {
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 21px;
    text-decoration: none} 

#diaspora-button-inner {
    float: right;
    margin: 1px 1px 1px 5px;
    height: 20px;
    background-color: #ecf2f6}

#diaspora-button-inner img {
    vertical-align: top;
    margin: 0 auto;
    padding: 0;
    border: 0}
